Repository MystenLabs/scion-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-yaml
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/crate-ci/typos
  rev: v1.16.23
  hooks:
  - id: typos
    pass_filenames: false
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-sort
    name: cargo-sort
    entry: cargo-sort
    args: ["-w"]
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    types: [rust]
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    types: [rust]
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    types: [rust]
    pass_filenames: false
  - id: deny
    name: cargo-deny
    entry: cargo deny
    files: Cargo.(lock|toml)
    args: ["--all-features", "check", "-D", "warnings"]
    language: rust
    pass_filenames: false

feat: add cloudconfig for local vm deployment
  CONTRIBUTING.md
  multipass/cloud-config.yaml
  multipass/test_id_ed25519
  multipass/test_setup.sh
  test_setup.sh
Due: none

feat: add recv_from_without_path to avoid allocating memory
  crates/scion-proto/src/packet/headers.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(udp_socket): consistent naming for recv variants
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: address review comments
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion/src/udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(udp_socket): add multiple receive variants with/without path information to avoid allocating memory (#92)
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: allow setters to be used on shared socket
  crates/scion/src/dispatcher.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: allow setters to be used on shared socket (#94)
  crates/scion/src/dispatcher.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: improve some code documentation
  crates/scion-proto/src/address/host.rs
  crates/scion-proto/src/address/ia.rs
  crates/scion-proto/src/address/isd.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet/headers/address_header.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/epic.rs
  crates/scion-proto/src/path/error.rs
  crates/scion-proto/src/path/metadata.rs
  crates/scion-proto/src/path/metadata/geo.rs
  crates/scion-proto/src/path/metadata/linktype.rs
  crates/scion-proto/src/path/metadata/path_interface.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/reliable/common_header.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: relax missing documentation to warn locally
  Cargo.toml
Due: deny

chore: deny doc warnings in pre-commit
  .pre-commit-config.yaml
Due: none

chore: deny doc warnings in pre-commit (#102)
  .pre-commit-config.yaml
Due: none

fix: correct and test send and receive corner cases
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion-proto/src/path.rs
  crates/scion/src/udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: use path buffer provided by caller in recv*_with_path
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add path service implementation for static paths.
  crates/scion/src/pan/path_service.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add datagram trait and path aware datagram variant
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion/Cargo.toml
  crates/scion/src/lib.rs
  crates/scion/src/pan.rs
  crates/scion/src/pan/datagram.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

refactor: remove code for observing the network path
  crates/scion/src/pan.rs
  crates/scion/src/pan/datagram.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add simple integration test of PAN functionality
  crates/scion/src/pan/datagram.rs
  crates/scion/tests/test_pan_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: integrate review feedback
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: document choice of send_via
  crates/scion/src/pan/datagram.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add datagram trait and path-aware datagram (#106)
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion/Cargo.toml
  crates/scion/src/lib.rs
  crates/scion/src/pan.rs
  crates/scion/src/pan/datagram.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/udp_socket.rs
  crates/scion/tests/test_pan_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

feat: add iterators and views into fields
  crates/scion-proto/Cargo.toml
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/fields.rs
  crates/scion-proto/src/path/standard/meta_header.rs
  crates/scion-proto/src/path/standard/segment.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

fix: add tests for iterators
  crates/scion-proto/src/path/standard.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: remove unecessary dep
  crates/scion-proto/Cargo.toml
Due: deny

fix: ensure that flag operations are idempotent
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/fields.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add iterators and views into fields (#109)
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/fields.rs
  crates/scion-proto/src/path/standard/meta_header.rs
  crates/scion-proto/src/path/standard/segment.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add path fingerprints
  crates/scion-proto/Cargo.toml
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/fingerprint.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

fix: return error instead of panic
  crates/scion-proto/src/path/fingerprint.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add path fingerprints (#111)
  crates/scion-proto/Cargo.toml
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/fingerprint.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

refactor: macro to simplify enums for encoded types
  crates/scion-proto/src/lib.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/utils.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add types and de/encoding for SCMP messages
  crates/scion-proto/src/lib.rs
  crates/scion-proto/src/packet/headers/address_header.rs
  crates/scion-proto/src/scmp.rs
  crates/scion-proto/src/scmp/error.rs
  crates/scion-proto/src/scmp/messages.rs
  crates/scion-proto/src/scmp/raw.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix clippy warning
  crates/scion-proto/src/packet/headers/common_header.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: less strict pre-commit config for cargo-deny
  .pre-commit-config.yaml
Due: none

chore: less strict pre-commit config for cargo-deny (#115)
  .pre-commit-config.yaml
Due: none
