Repository MystenLabs/scion-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-sort:
  name: cargo-sort
  entry: cargo-sort
  args:
  - -w
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

deny:
  name: cargo-deny
  entry: cargo deny
  args:
  - --all-features
  - check
  - -D
  - warnings
  language: rust
  pass_filenames: false

chore(deps): update all dependencies
  Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion/Cargo.toml
Due: deny

feat(scmp): add enums for error and info messages
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/scmp.rs
  crates/scion-proto/src/scmp/messages.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/socket/udp.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: correct checksum for misaligned slices
  crates/scion-proto/src/packet/checksum.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion/src/pan/path_strategy/refresher.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: pin SCION version to latest release with dispatcher
  .github/workflows/rust.yml
Due: none

test: add test for checksum of misaligned slice
  crates/scion-proto/src/packet/checksum.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add timeouts to async tests
  crates/scion/src/socket/udp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: pin Rust version
  .github/workflows/rust.yml
  rust-toolchain.toml
Due: none

chore: ignore snet while spellchecking
  _typos.toml
Due: none

chore: pin Rust version (#147)
  .github/workflows/rust.yml
  rust-toolchain.toml
Due: none

test: add timeouts to async tests (#149)
  crates/scion/src/socket/udp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): update all dependencies
  Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion/Cargo.toml
  crates/test-utils/Cargo.toml
  deny.toml
Due: deny

chore: exception for windows-sys in deny.toml
  deny.toml
Due: none

fix warnings
  crates/scion-grpc/build.rs
  crates/scion/src/pan/path_strategy/utc_instant.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): update all dependencies and Rust version
  Cargo.toml
  crates/scion-grpc/build.rs
  crates/scion-proto/Cargo.toml
  crates/scion/Cargo.toml
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/uniform.rs
  crates/scion/src/pan/path_strategy/utc_instant.rs
  crates/scion/tests/test_daemon.rs
  crates/scion/tests/test_dispatcher.rs
  crates/scion/tests/test_pan_socket.rs
  crates/scion/tests/test_path_strategy.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
  crates/scion/tests/test_udp_socket.rs
  crates/test-utils/Cargo.toml
  deny.toml
  rust-toolchain.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

fix(deps): update all dependencies and Rust version (#165)
  Cargo.toml
  crates/scion-grpc/build.rs
  crates/scion-proto/Cargo.toml
  crates/scion/Cargo.toml
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/uniform.rs
  crates/scion/src/pan/path_strategy/utc_instant.rs
  crates/scion/tests/test_daemon.rs
  crates/scion/tests/test_dispatcher.rs
  crates/scion/tests/test_pan_socket.rs
  crates/scion/tests/test_path_strategy.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
  crates/scion/tests/test_udp_socket.rs
  crates/test-utils/Cargo.toml
  deny.toml
  rust-toolchain.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

chore: bump Rust to 1.89 and fix lint warnings
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/meta_header.rs
  crates/scion-proto/src/wire_encoding.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all dependencies and fix breaking changes
  Cargo.toml
  crates/scion-grpc/Cargo.toml
  crates/scion-grpc/build.rs
  crates/scion-proto/Cargo.toml
  crates/scion-proto/benches/checksum.rs
  crates/scion/Cargo.toml
  crates/scion/src/dispatcher.rs
  crates/test-utils/Cargo.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

chore: reduce dependabot interval to monthly
  .github/dependabot.yml
Due: none

chore: reduce dependabot interval to monthly (#182)
  .github/dependabot.yml
Due: none

chore: bump Rust to 1.89 and fix lint warnings (#179)
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/meta_header.rs
  crates/scion-proto/src/wire_encoding.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all dependencies and fix breaking changes (#180)
  Cargo.toml
  crates/scion-grpc/Cargo.toml
  crates/scion-grpc/build.rs
  crates/scion-proto/Cargo.toml
  crates/scion-proto/benches/checksum.rs
  crates/scion/Cargo.toml
  crates/scion/src/dispatcher.rs
  crates/test-utils/Cargo.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

chore: use Rust edition 2024 and clean Cargo.toml files
  .github/workflows/rust.yml
  .tarpaulin.toml
  Cargo.toml
  crates/scion-grpc/Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion-proto/benches/checksum.rs
  crates/scion-proto/src/address/asn.rs
  crates/scion-proto/src/address/ia.rs
  crates/scion-proto/src/address/isd.rs
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/address/service.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/metadata.rs
  crates/scion-proto/src/reliable/common_header.rs
  crates/scion-proto/src/reliable/parser.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion-proto/src/scmp/messages.rs
  crates/scion-proto/src/scmp/raw.rs
  crates/scion/Cargo.toml
  crates/scion/src/daemon.rs
  crates/scion/src/daemon/client.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/uniform.rs
  crates/scion/src/socket/raw.rs
  crates/scion/src/socket/udp.rs
  crates/scion/src/socket/utils.rs
  crates/scion/tests/test_daemon.rs
  crates/scion/tests/test_dispatcher.rs
  crates/scion/tests/test_pan_socket.rs
  crates/scion/tests/test_path_strategy.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
  crates/scion/tests/test_udp_socket.rs
  crates/test-utils/Cargo.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

chore: use Rust edition 2024 and clean Cargo.toml files (#181)
  .github/workflows/rust.yml
  .tarpaulin.toml
  Cargo.toml
  crates/scion-grpc/Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion-proto/benches/checksum.rs
  crates/scion-proto/src/address/asn.rs
  crates/scion-proto/src/address/ia.rs
  crates/scion-proto/src/address/isd.rs
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/address/service.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/dataplane.rs
  crates/scion-proto/src/path/metadata.rs
  crates/scion-proto/src/reliable/common_header.rs
  crates/scion-proto/src/reliable/parser.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion-proto/src/scmp/messages.rs
  crates/scion-proto/src/scmp/raw.rs
  crates/scion/Cargo.toml
  crates/scion/src/daemon.rs
  crates/scion/src/daemon/client.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/uniform.rs
  crates/scion/src/socket/raw.rs
  crates/scion/src/socket/udp.rs
  crates/scion/src/socket/utils.rs
  crates/scion/tests/test_daemon.rs
  crates/scion/tests/test_dispatcher.rs
  crates/scion/tests/test_pan_socket.rs
  crates/scion/tests/test_path_strategy.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
  crates/scion/tests/test_udp_socket.rs
  crates/test-utils/Cargo.toml
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

chore: pin all GH versions
  .github/actions/setup-dependencies/action.yml
  .github/actions/setup-scion/action.yml
  .github/workflows/lint.yml
  .github/workflows/rust.yml
  .github/workflows/updates.yml
Due: none

feat: improve error handing
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/raw.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/reliable/parser.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion/src/daemon.rs
  crates/scion/src/dispatcher.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/socket/error.rs
  crates/scion/src/socket/udp.rs
  crates/scion/tests/test_path_strategy.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fmt
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/raw.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion/src/daemon.rs
  crates/scion/src/dispatcher.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fmt
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet/raw.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion/src/dispatcher.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fmt
  crates/scion-proto/src/packet/scmp.rs
  crates/scion/src/daemon.rs
  crates/scion/src/dispatcher.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fmt
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/tests/test_path_strategy.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: del
  crates/scion/src/pan/path_strategy/refresher.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

code fmt
  crates/scion/src/socket/udp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add archival note
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  clippy-with-tests: any of: \.rs$
  clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  deny: any of: Cargo.(lock|toml)
