Repository MystenLabs/scion-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-sort:
  name: cargo-sort
  entry: cargo-sort
  args:
  - -w
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

deny:
  name: cargo-deny
  entry: cargo deny
  args:
  - --all-features
  - check
  - -D
  - warnings
  language: rust
  pass_filenames: false

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

refactor: add trait for checksums
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/checksum.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion-proto/src/scmp.rs
  crates/scion-proto/src/scmp/messages.rs
  crates/scion-proto/src/scmp/raw.rs
  crates/scion/src/udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add SCION SCMP packet definitions
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/error.rs
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/packet/headers/common_header.rs
  crates/scion-proto/src/packet/raw.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion-proto/src/path/standard.rs
  crates/scion-proto/src/path/standard/meta_header.rs
  crates/scion-proto/src/scmp/error.rs
  crates/scion-proto/src/scmp/messages.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add integration test for SCION traceroute
  crates/scion/tests/test_scmp_packet.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add path strategy and async implementation
  crates/scion-proto/src/path.rs
  crates/scion/Cargo.toml
  crates/scion/src/pan.rs
  crates/scion/src/pan/datagram.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/pan/path_strategy.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

feat: add path refresher strategy
  crates/scion-proto/src/packet/headers.rs
  crates/scion-proto/src/path.rs
  crates/scion/src/daemon/client.rs
  crates/scion/src/pan.rs
  crates/scion/src/pan/path_service.rs
  crates/scion/src/pan/path_strategy.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/utc_instant.rs
  crates/scion/tests/test_path_strategy.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: don't require ports when creating a `ScionPacketRaw`
  crates/scion-proto/src/packet/raw.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(udp_socket): prepare structure for multiple sockets
  crates/scion/src/lib.rs
  crates/scion/src/socket.rs
  crates/scion/src/socket/error.rs
  crates/scion/src/socket/udp.rs
  crates/scion/tests/test_pan_socket.rs
  crates/scion/tests/test_path_strategy.rs
  crates/scion/tests/test_udp_socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: adds the uniform path strategy that extends other strategies to multiple ASes
  crates/scion/src/pan/path_strategy.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
  crates/scion/src/pan/path_strategy/refresher.rs
  crates/scion/src/pan/path_strategy/test_utils.rs
  crates/scion/src/pan/path_strategy/uniform.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: add new `ScionPacket` trait
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/raw.rs
  crates/scion-proto/src/packet/scmp.rs
  crates/scion-proto/src/packet/udp.rs
  crates/scion/src/dispatcher.rs
  crates/scion/src/socket/udp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test: use raw socket in SCMP integration test
  crates/scion-proto/src/scmp/messages.rs
  crates/scion/tests/test_raw_socket_with_scmp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(udp_socket): handle incoming SCMP error messages
  crates/scion-proto/src/scmp/messages.rs
  crates/scion-proto/src/scmp/raw.rs
  crates/scion/src/pan/error.rs
  crates/scion/src/socket/udp.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a SCION raw socket
  crates/scion-proto/src/address/scion_address.rs
  crates/scion-proto/src/path.rs
  crates/scion/src/socket.rs
  crates/scion/src/socket/error.rs
  crates/scion/src/socket/raw.rs
  crates/scion/src/socket/udp.rs
  crates/scion/src/socket/utils.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: prepare README and CONTRIBUTING before publishing
  CONTRIBUTING.md
  README.md
Due: none

docs: prepare README and CONTRIBUTING before publishing (#131)
  CONTRIBUTING.md
  README.md
Due: none

docs: improve docstrings in the scion and scion-grpc crates
  .editorconfig
  crates/scion-grpc/src/lib.rs
  crates/scion/src/daemon.rs
  crates/scion/src/daemon/client.rs
  crates/scion/src/daemon/messages.rs
  crates/scion/src/dispatcher.rs
  crates/scion/src/lib.rs
  crates/scion/src/pan.rs
  crates/scion/src/pan/path_strategy.rs
  crates/scion/src/socket.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add scion-proto documentation
  crates/scion-proto/src/address.rs
  crates/scion-proto/src/address/asn.rs
  crates/scion-proto/src/address/host.rs
  crates/scion-proto/src/address/ia.rs
  crates/scion-proto/src/address/isd.rs
  crates/scion-proto/src/address/socket_address.rs
  crates/scion-proto/src/datagram.rs
  crates/scion-proto/src/lib.rs
  crates/scion-proto/src/packet.rs
  crates/scion-proto/src/packet/error.rs
  crates/scion-proto/src/path.rs
  crates/scion-proto/src/path/fingerprint.rs
  crates/scion-proto/src/path/metadata/geo.rs
  crates/scion-proto/src/reliable/registration.rs
  crates/scion/src/daemon/client.rs
  crates/scion/src/daemon/messages.rs
  crates/scion/src/pan/path_strategy/async_strategy.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: move param_test to own crate and refactor some tests
  Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion-proto/src/address/asn.rs
  crates/scion-proto/src/address/ia.rs
  crates/test-utils/Cargo.toml
  crates/test-utils/src/lib.rs
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc, deny

refactor: reduce extra-long lines
  crates/scion/src/pan/path_strategy/async_strategy.rs
  multipass/test_setup.sh
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: reduce extra-long lines (#136)
  crates/scion/src/pan/path_strategy/async_strategy.rs
  multipass/test_setup.sh
Due: cargo-fmt, cargo-sort, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: actually run editorconfig-checker
  .github/workflows/lint.yml
Due: none

chore(deps): update all dependencies
  Cargo.toml
  crates/scion-proto/Cargo.toml
  crates/scion/Cargo.toml
Due: deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  clippy-with-tests: any of: \.rs$
  clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  deny: any of: Cargo.(lock|toml)
